body {
  background-color: #fffef0;
}

.img-full {
	display:block;
	margin:auto;
}

.img-right {
	float:right;
	width:360px;
	margin: 10px 0 10px 10px;
}

.img-left {
	float:left;
	width:360px;
	margin: 10px 10px 10px 0;
}